.footer

  .footer-banner
    .footer-banner_box
      
      .footer-banner_right

        .footer-banner_right_1 スマホでかんたんフリマアプリ
        .footer-banner_right_2 今すぐ無料ダウンロード！
        .footer-banner_right_3 

          .footer-banner_right_3_1
            = image_tag 'mercari-icon.png',size: '68x68'

          = link_to '', class: 'footer-banner_right_3_2' do
            = image_tag 'app-store.svg', class: 'footer-banner_right_3_2'

          = link_to '', class: 'footer-banner_right_3_3' do
            = image_tag 'google-play.svg', class: 'footer-banner_right_3_3'

      .footer-banner_left
        = image_tag 'mercari-photo.png',size: '300x260'

  .footer-bottom
    .footer-bottom_company

      .footer-bottom_company_about          
        %h2.footer-bottom_company_about_title メルカリについて
        %ul
          %li 
            %a{:href => "https://about.mercari.com/"} 会社概要（運営会社）
          %li
            %a{:href => "https://www.mercari.com/jp/jobs/"} 採用情報
          %li
            %a{:href => "https://about.mercari.com/press/news/"} プレスリリース
          %li
            %a{:href => "https://jp-news.mercari.com/", :target => "_blank"} 公式ブログ
          %li
            %a{:href => "https://www.mercari.com/jp/logo-guidelines/"} メルカリロゴ利用ガイドライン
          %li

          %a{ href: '' }
            %i.fab.fa-twitter.fa-3x
          %a{ href: '' }
            %i.fab.fa-facebook-square.fa-3x

          
      .footer-bottom_company_about  
        %h2.footer-bottom_company_about_title ヘルプ&ガイド
        %ul
          %li
            %a{:href => "/jp/help_center/"} メルカリガイド
          %li
            %a{:href => "/jp/rakuraku-mercari/"} らくらくメルカリ便
          %li
            %a{:href => "/jp/yuyu-mercari/"} ゆうゆうメルカリ便
          %li
            %a{:href => "/jp/rakuraku-ogata/"} 大型メルカリ便
          %li
            %a{:href => "/jp/guide/car/"} 車体取引ガイド
          %li
            %a{:href => "/jp/safe/description/", :target => "_blank"} メルカリあんしん・あんぜん宣言！
          %li
            %a{:href => "/jp/authenticity/"} 偽ブランド品撲滅への取り組み
          %li
            %a{:href => "/jp/box/"} メルカリボックス

      .footer-bottom_company_about_3
        %h2.footer-bottom_company_about_title プライバシー利用規約
        .footer-bottom_company_about_0
          .footer-bottom_company_about_1
            %ul
              %li
                %a{:href => "/jp/privacy/"} プライバシーポリシー
              %li
                %a{:href => "/jp/tos/"} メルカリ利用規約
              %li
                %a{:href => "/jp/tos_smartphone_support/"} あんしんスマホサポート制度に関する利用特約
              %li
                %a{:href => "/jp/compliance/"} コンプライアンスポリシー
          .footer-bottom_company_about_2
            %ul
              %li
                %a{:href => "/jp/data_security/"} 個人データの安全管理に係る基本方針
              %li
                %a{:href => "/jp/tokutei/"} 特定商取引に関する表記
              %li
                %a{:href => "/jp/shikin_kessai/"} 資金決済法に基づく表示
              %li
                %a{:href => "https://about.mercari.com/csr/safety/"} 法令順守と犯罪抑止のために

      .footer-bottom_company_about 
        %h2.footer-bottom_company_about_title 国
        %ul
          %li
            %a{:href => "/jp/"} 日本
          %li
            %nobr
              %a{:href => "/"} United States



    .footer-bottom_banner
      .footer-bottom_banner_1
        %img{:src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?1714804574"}/
      .footer-bottom_banner_2 © 2019 Mercari