.new-item-wrapper
  .item-header
    .new-item-header-logo
      = image_tag 'mercariLogo.svg',height: '49', width: '185', class: 'mercari-logo'
  .new-item-container
    = form_for @item do |f|
      .new-item-header-put.form-container
        商品の情報を入力
      .new-item-img.form-container
        %h3.new-item-img__head
          出品画像
          %span.form-require
            必須
        %p 最大10枚までアップロードできます
        = f.fields_for :images do |a|
          = a.file_field :image
      .new-item-detail-text.form-container
        = f.label :name, '商品名',class: 'label'
        = f.text_field :name
        商品の説明
        = f.label :detail, '商品説明',class: 'label'
        = f.text_area :detail
      .new-item-detail-categoy-and-condition.form-container
        商品の詳細
        = f.label :category,'カテゴリ',class: 'label'
        = f.collection_select :category_id , Category.all, :id,:name
        = f.label :conditon, '商品の状態',class: 'label'
        = f.select :conditon, ["新品、未使用","未使用に近い","目立った傷や汚れなし","やや傷や汚れあり","傷や汚れあり","全体的に状態が悪い"]
      .new-item-shipping.form-container
        = f.label :shipping_charge_fee, '配送量の負担',class: 'label'
        = f.select :shipping_charge_fee,["送料込み(出品者負担)","着払い(購入者負担)"]
        = f.label :shipping_origin, '発送元の地域',class: 'label'
        = f.select :shipping_origin,["北海道","沖縄"]
        = f.label :days_to_shipping, '発送までの日数',class: 'label'
        = f.select :days_to_shipping,["1~2日で発送","2~3日で発送","4~7日で発送"]
        = f.label :shipping_method, '配送の方法',class: 'label'
        = f.select :shipping_method, ["らくらくメルカリ便","ゆうゆうメルカリ便","未定","ゆうメール","クロネコヤマト"]
        配送方法を入力してください
      .new-item-price.form-container
        お値段を入力してください
        = f.label :price, '販売価格',class: 'label'
        = f.text_field :price
      .new-item-submit.form-container
        = f.submit '出品'
        出品する
      .new-item-footer
        プライバシーポリシー










































  






-#   = f.label :brand,'ブランド'
-#   = f.collection_select :brand_id , Brand.all, :id,:name



