.itemform
  = form_for @item do |f|
    = f.label :name, '商品名'
    = f.text_field :name

    = f.label :conditon, '商品の状態'
    = f.select :conditon, ["新品、未使用","未使用に近い","目立った傷や汚れなし","やや傷や汚れあり","傷や汚れあり","全体的に状態が悪い"]
    

    = f.label :detail, '商品説明'
    = f.text_area :detail

    = f.label :price, '販売価格'
    = f.text_field :price

    = f.label :shipping_charge_fee, '配送量の負担'
    = f.select :shipping_charge_fee,["送料込み(出品者負担)","着払い(購入者負担)"]

    = f.label :shipping_method, '配送の方法'
    = f.select :shipping_method, ["らくらくメルカリ便","ゆうゆうメルカリ便","未定","ゆうメール","クロネコヤマト"]

    = f.label :shipping_origin, '発送元の地域'
    = f.select :shipping_origin,["北海道","沖縄"]

    = f.label :days_to_shipping, '発送までの日数'
    = f.select :days_to_shipping,["1~2日で発送","2~3日で発送","4~7日で発送"]

    = f.submit '出品'