- breadcrumb :mypage_identification
= render 'items/header'
= render 'shared/breadcrumb'
.mypage
  .mypage_2
    =render "side-ber"
    .mypage-identification
      %h2.mypage-identification__title 本人情報の登録
      %form_tag.mypage-identification__form
        .sub-content
          %p お客さまの本人情報をご登録ください。
          %p 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          %P.sub-text 
            =link_to  "本人確認書類のアップロードについて"
        .form-group
          %label お名前
          %p #{current_user.last_name} #{current_user.first_name}
        .form-group
          %label お名前
          %p #{current_user.last_name_kana} #{current_user.first_name_kana}
        .form-group
          %label お名前
          %p #{current_user.birth_year}/#{current_user.birth_month}/#{current_user.birth_day}
        = form_for @address, url: '#', method: :patch do |f|
          .form-group
            =f.label "お名前"
            %span 任意
            = f.number_field :post_number, placeholder: "#{@address.post_number}"
          .form-group
            =f.label "お名前"
            %span 任意
            = f.text_field :prefecture, placeholder: "#{@address.prefecture}"
          .form-group
            =f.label "お名前"
            %span 任意
            = f.text_field :city, placeholder: "#{@address.city}"
          .form-group
            =f.label "お名前"
            %span 任意
            = f.text_field :address_line, placeholder: "#{@address.address_line}"
          .form-group
            =f.label "お名前"
            %span 任意
            = f.text_field :building, placeholder: "#{@address.building}"
          .form-submit
            %p 登録する